@use '../utils';
@use '../components';
.header{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    @include utils.tablet-screen{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 30px;
        box-shadow: 0px 1px 10px darken(utils.$primary-background-color,20%);
        position: relative;
        z-index: 2;
    }
    &__logo{
        box-sizing: content-box;
        padding: 30px 0 10px 0;
        position: relative;
        z-index: 2;
        text-align: center;
        border-color: white;
        box-shadow: 0px 1px 10px darken(utils.$primary-background-color,20%);
        img{ width: 170px;}
        @include utils.tablet-screen{
            padding-left: 30px;
            box-shadow: 0px 0px 0px transparent;
            padding: 0;
        }
    }
    &__form{
        @include utils.flex-mid;
        height: 50px;
        background-color: utils.$secondary-background-color;
        z-index: 1;
        @include utils.tablet-screen{
            //background-color: transparent;
            width: 280px;
            justify-content: space-between;
            padding: 0 20px;
            border-radius: 25px;
        }
        .fa-map-marker-alt{
            @include utils.inline-flex-mid;
            position: relative;
            bottom: 2px;
            width: 40px;
            height: 50px;
            font-size: 1.2rem;
            letter-spacing: 0.9px;
            font-style: normal;
        }
        input{
            height: 50px;
            width: 125px;
            text-align: center;
            border: none;
            background-color: transparent;
            
            &::placeholder{
                color: black;
                font-size: 1.1rem;
                letter-spacing: 0.9px;
                font-weight: 600;
            }
        }
    }
}