@use '../utils';

.rounded-btn {
    @include utils.inline-flex-mid;
    width: 225px;
    height: 3.5em;
    font-size: 1rem;
    color: utils.$btn-color-1;
    border-radius: 30px;
    border-width: 0;
    border-color: transparent;
    background: utils.$gradient170;
    &:hover{
        filter: brightness(105%);
        box-shadow: 0px 0px 10px darken(utils.$tertiary-background-color,40%);
    }
    &:focus{
        filter: brightness(105%);
        box-shadow: 0px 0px 10px darken(utils.$tertiary-background-color,40%);
    }
    }
    