@use '../utils';

//All the icons

//Icon filled with linear gradient on hover
.gradient-icon{
    display: inline-flex;
            align-items: center;
            color: transparent;
            font-size: 20px;
            transform: scale(0.8, 1);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: black;
            &:hover{
                background: -webkit-linear-gradient(utils.$primary-color,utils.$secondary-color);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke-color: transparent;
            }
}
