@use '../utils';

.step{
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: utils.$tertiary-background-color;
    box-shadow: 2px 4px 10px darken(utils.$tertiary-background-color,10%);
    i{
        color: gray; 
        font-size: 1.4rem;
        margin-right: 23px;
        margin-left: 10px;
    }
    &__numerotation{
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: utils.$primary-color;
        font-size: 0.8rem;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        position: relative;
        left: -0.75rem;
    }
    &__description{
        font-weight: 600;
        font-size: 1.125rem;
        letter-spacing: -0.7px
    }
}


