@use '../utils';
@use '../components';
@use '../base';
@use '../layout';

.loading__spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0;
    animation: loading-spinner 3s ease-out;
    //PB: background ne change pas en no-repeat et de position: bottom
    //PB réglé en déplaçant ces propriétés en dessous de webkit-background-clip.
    & .spinner-icon{
        display: block;
        font-size: 100px;
        background-size: 100% 100%;
        background: utils.$gradient170;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-repeat: no-repeat;
        background-position: bottom;
        animation: fill-spinner-icon 3s ease-in-out;

    }
}

@keyframes loading-spinner{
    0%{
        opacity: 1;
        z-index: 10;
    }
    100%{
        opacity: 1;
        z-index: 10;
    }
}
@keyframes fill-spinner-icon{
    0%{
        background-size: 100% 0;
    }
    100%{
        background-size: 100% 100%;
    }
}

@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.hero{

    display: flex;
    justify-content: center;
    @include utils.tablet-screen{
        
        background-size: auto 540px;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        height: 400px;
        padding: 0 60px;
    }
    @include utils.desktop-screen{
        height: 550px;
        background-size: cover;
    }
    &__container{
        max-width: 1200px;
    }
}

.accroche {
    @include utils.section;
    align-items: center;
    background-color: utils.$tertiary-background-color;
    @include utils.tablet-screen{
        background-color: transparent;
        //align-items: start;
        max-width: 40%;
    }
    @include utils.desktop-screen{
        height: 400px;
        width: 500px;
        justify-content: center;
    }
    &__titre{
        text-align: center;
        margin-bottom: 15px;
        @include utils.tablet-screen{
            color: white;
        }
        @include utils.desktop-screen{
            font-size: 45px;
        }
    }
    &__paragraphe{
        color: lighten(utils.$charocal-1,20%);
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
        @include utils.tablet-screen{
            color: white;
        }
        @include utils.desktop-screen{
            font-size: 1.5rem;
            padding-bottom: 30px;
        }
    }
    &__btn{
        @extend .rounded-btn;
        margin: 15px 0;
    }
}

.fonctionnement{
    @include utils.section;
    padding-top: 50px;
    @include utils.tablet-screen{
        padding: 50px 40px 30px 40px;
    }
    &__heading{
        //cf: '_typography'
        @extend .section__heading;
    }
    &__steps-container{
        display: flex;
        flex-direction: column;
        &--row{
            @include utils.tablet-screen {
                flex-direction: row;
                justify-content: start;
                grid-gap: 30px;
            }
            @include utils.desktop-screen{
                grid-gap: 40px;
            }
        }
    }
    &__step{
        @extend .step;
        @include utils.tablet-screen {
            width: 200px;
        }
        @include utils.desktop-screen{
            width: 300px;
        }
    }
}

.restaurants{
    @include utils.section;
    @include utils.tablet-screen{
        padding: 50px 40px;
    }
    padding-bottom: 50px;
    background-color: utils.$gray2;
    &__heading{
        @extend .section__heading;
    }
    &__cards-container{
        @extend .cards-container;
        justify-content: start;
    }
}