@use '../utils';
@use '../components';
@use '../base';
@use '../layout';


body{
    background-color: utils.$secondary-background-color;
}

.page__container{
    @include utils.desktop-screen{
        margin: auto;
        margin-top: 100px;
        max-width: 768px;
        border-radius: 20px;
        box-shadow: 2px 2px 20px darken(utils.$secondary-background-color,10%);
    }
}


.restaurant__header{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 30px 30px;
    background-color: white;
    @include utils.desktop-screen{
        border-radius: 20px 20px 0 0;
        padding-top: 50px;
    }
    
    &__nav{
        display: flex;
        align-items: center;
        width: 100%;
    }
    &__home__button > i{
        font-size: 20px;
        transform: scale(1.2);
    }
    &__logo{
        height: 35px;
        position: absolute;
        left: calc(50% - 100px);
    }
}

.restaurant__img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    position: relative;
    z-index: -1;
    @include utils.tablet-screen{
        height: 380px;
    }
}

.menu{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    border-radius: 25px 25px 0 0;
    background-color: utils.$tertiary-background-color;
    margin-top: -30px;
    @include utils.desktop-screen{
        max-width: 768px;
        margin-left: auto;
        margin-right: auto;
        padding: 40px;
    }
    &__header{
        display: flex;
        margin-bottom: 20px;
        align-items: center;
        &__restaurant-name{
            font-size: 32px;
            margin-right: 30px;
        }
        &__favourite-icon{
            @extend .gradient-icon;
            font-size: 22px;
        }
    }
    &__order-btn{
        @extend .rounded-btn;
        font-size: 18px;
    }
    &__order__section{
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
    }
}

.menu__category{
    margin-bottom: 30px;
    &__header{
        position: relative;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 22px;
        &::before{
            content: "";
            position: absolute;
            bottom: -8px;
            width: 55px;
            height: 4px;
            background-color: utils.$tertiary-color;
        }
    }
}

.menu__dishes-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px 0;
    grid-gap: 20px;
}

.menu__dish{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 20px;
    background-color: white;
    padding: 20px 20px;
    box-shadow: 3px 3px 15px -3px darken(utils.$primary-background-color,20%);
    &__description{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: calc(100% - 80px);
    }
    &__title{
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 2px;
    }
    &__details{
        font-size: 18px;
    }
    &__price{
        display: inline-flex;
        position: absolute;
        align-items: end;
        padding-bottom: 40px;
        height: 100%;
        right: 20px;
        font-weight: 800;
        font-size: 20px;
        &:hover{
            //opacity: 0;
            z-index: 1;
            &:hover + .menu__dish__price__selection{
                z-index: 2;
                transform: scaleX(1);
            }
        }
        &__selection{
            width: 70px;
            height: 100%;
            border-radius: 0 20px 20px 0;
            background-color: utils.$tertiary-color;
            position: absolute;
            right: 0;
        }
    }
}
.menu__dish__price__selection{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 500ms;
    & i{
        display: inline-flex;
        color: white;
        font-size: 20px;
    }
}

.restaurant__footer{
    @include utils.desktop-screen{
        margin-bottom: 100px;
        border-radius: 0 0 20px 20px;
        max-width: 768px;
    }
    
}
    
